.login-paid {
  align-items: center;
  display: flex;
  text-align: right;
}

#right-link {
  margin-left: 20px;
}

#right-link button {
  margin-right: 0px;
}

.login-paid button {
  background: #6e657a;
  border-radius: 30px;
  border: #3d3d3d;
  font-size: 0.875rem;
  padding: 12px 24px;
}

.login-paid button:hover {
  background: #9b8dad;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  transition: all 0.5s ease-out;
  z-index: 10;
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 32px;
}

.navbar-item {
  height: 90%;
}

.navbar a:hover {
  color: #cacaca;
}

/* .nav-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
} */

.navlinks {
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navlinks a {
  font-size: 1rem;
  list-style: none;
  margin: 0 32px;
  text-decoration: none;
}

.navlinks .navbar-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
}

.social-media {
  width: 20px;
}

.title-container {
  align-items: center;
  display: flex;
  text-decoration: none;
  width: 180px;
}

.title-container-proj {
  align-items: center;
  background: #000000;
  display: flex;
  text-decoration: none;
  padding: 10px 22px 10px 14px;
  /* width: 180px; */
}

/* 
background: linear-gradient(
    99.49deg,
    #32353a 14.51%,
    rgba(54, 61, 82, 0.582) 77.41%
  );
  border-radius: 30px;
  border: #3d3d3d;
  font-size: 0.875rem;
  padding: 12px 24px;
  margin-right: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease; */

.title-container-proj h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.title-container-proj img {
  width: 16px;
  margin-right: 8px;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
  padding: 8px 4px 8px 8px;
}

.hamburger-menu-line {
  border-radius: 100px;
  width: 28px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}


.dropdown-menu {
  display: none;
  /* position: absolute; */
  background-color: rgb(0, 0, 0,0.7);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 80%;
  z-index: 0;
}

.navlinks-dropdown {
  list-style: none;
  padding: 0;
  /* margin-top: 110px; */
}

.navlinks-dropdown .navbar-item {
  display: block;
}

.navlinks-dropdown .navbar-item a {
  font-size: 1rem;
  text-decoration: none;
  display: block;
  margin: 24px;
}

/* Media query for hamburger menu */
/* @media screen and (max-width: 768px) {
  .login-paid {
    display: none;
  }
} */

/* Media query for hamburger menu */
@media screen and (max-width: 900px) {

  /* .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #000000;
    padding: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

  .navlinks {
    display: none;
  }

  .navlinks.active {
    display: flex;
  }

  .login-paid {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  button {
    margin-bottom: 0;
  }

  /* .title-container h3 {
    display: none;
  } */
}
