.login-paid {
  align-items: center;
  display: flex;
  text-align: right;
}

#right-link {
  margin-left: 20px;
}

#right-link button {
  margin-right: 0px;
}

.login-paid button {
  background: #6e657a;
  border-radius: 30px;
  border: #3d3d3d;
  font-size: 0.875rem;
  padding: 12px 24px;
}

.login-paid button:hover {
  background: #9b8dad;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  position: fixed;
  transition: all 0.5s ease-out;
  z-index: 10;
  width: 100%;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 32px;
}

/* .navbar-dropdown {
  position: relative;
} */

.navbar-item {
  height: 90%;
}

/* .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 16px;
  list-style-type: none;
  margin: 0;
  width: 280px;
} */

.navbar a:hover {
  color: #cacaca;
}
/* 
.navbar-dropdown:hover .dropdown-menu {
  display: block;
} */

.nav-fixed {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navlinks {
  display: flex;
  height: 100%;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.navlinks a {
  font-size: 1rem;
  list-style: none;
  margin: 0 32px;
  text-decoration: none;
}

.navlinks .navbar-item {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  text-decoration: none;
}

.social-media {
  width: 20px;
}

.title-container {
  align-items: center;
  display: flex;
  text-decoration: none;
  width: 180px;
}

.title-container img {
  width: 32px;
  margin-right: 16px;
}

/* Hamburger menu styles */
.hamburger-menu {
  display: none;
  cursor: pointer;
}

.hamburger-menu-line {
  border-radius: 100px;
  width: 28px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 5px;
}

/* Media query for hamburger menu */
@media screen and (max-width: 768px) {
  .login-paid {
    display: none;
  }
}

/* Media query for hamburger menu */
@media screen and (max-width: 900px) {
  .navlinks {
    display: none;
  }

  .navlinks.active {
    display: flex; /* Uncomment this line to display the links */
    /* flex-direction: column; */
    justify-content: center;
    align-items: flex-end;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
  }

  .login-paid {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  button {
    margin-bottom: 0;
  }
}
