@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font-family: poppins;
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 300;
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-weight: 300;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 1.0625rem;
}

body {
  background-color: rgb(15, 13, 25);
  height: auto;
  background-image: url(../images/palmlong.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.9);
}

.nav-space {
  height: 120px;
}

/* HOME SECTION */
button {
  background: linear-gradient(
    99.49deg,
    #32353a 14.51%,
    rgba(54, 61, 82, 0.582) 77.41%
  );
  border-radius: 30px;
  border: #3d3d3d;
  font-size: 0.875rem;
  padding: 12px 24px;
  margin-right: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #656ba1;
}

.button-container button {
  margin-bottom: 16px;
}

.home-section {
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: 80px 40px 140px 40px;
}

.h-left-div {
  flex: 1;
  padding: 20px;
}

.h-left-div h1 {
  margin-bottom: 16px;
}

.h-left-div p {
  margin-bottom: 32px;
}

.h-right-div {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-right-div img {
  width: 350px;
}

/*  */

/* PROJECTS SECTION */
.portfolio-container {
  margin: 0 auto;
  text-align: center;
}

.portfolio-page {
  /* background: linear-gradient(180deg, #8e93c2 0%, #000000 100%); */
  background: linear-gradient(180deg, #3c3f61 0%, #e6e6e6 100%);
  /* min-height: 100vh; */
  overflow-y: auto;
}

.portfolio-projects {
  margin: 0 auto;
  text-align: center;
  padding: 0 32px 56px 32px;
  width: 100%;
}

.portfolio-projects-row {
  margin: 0 auto;
  display: flex;
  align-self: center;
  justify-content: center;
  max-width: 1200px;
}

.portfolio-text {
  margin: 0 auto;
  text-align: center;
  max-width: 900px;
  width: 100%;
  padding: 100px 32px;
}

.portfolio-text h1 {
  margin-bottom: 16px;
}

.title-w {
  color: #000000;
}

/*  */

@media (max-width: 1024px) {
  .portfolio-projects-row {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
}
/*  */

/* PROJECT BOX */

/* PROJECT BOX */

#sc-omni {
  background-image: url(../images/Omni.png);
}

#sc-joi {
  background-image: url(../images/joi.png);
}

#sc-mo {
  background-image: url(../images/MO.png);
}

#sc-vrl {
  background-image: url(../images/VR.png);
}

#sc-ii {
  background-image: url(../images/II.png);
}

#sc-pm8 {
  background-image: url(../images/P8.png);
}

/* Add the following styles for the overlay */
.square::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Fully transparent initially */
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.square:hover::before {
  background-color: rgba(0, 0, 0, 0.6); /* 60% opacity on hover */
}

.square {
  position: relative;
  width: 500px;
  width: 98%;
  height: 400px;
  background-position: center;
  background-size: cover;
  transition: filter 0.2s ease-in-out;
  cursor: pointer;
  margin: 8px;
  border-radius: 5px;
}

.square-container {
  width: 90%;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.text p {
  font-size: 24px;
  color: #ffffff;
}

.square:hover .text {
  opacity: 1;
}

.nav-w {
  color: #000000;
}

@media (max-width: 1024px) {
  .square-container {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }
}
/*  */

@media (max-width: 900px) {
  .home-section {
    padding: 30px 10px;
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media (max-width: 768px) {
  button {
    margin-bottom: 16px;
  }

  .home-section {
    padding: 30px 10px;
    text-align: center;
  }

  .h-right-div img {
    width: 300px;
  }
}

/* PROJECT PAGES */

/* Project 1 */

.project-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.proj-img {
  width: 100%;
}

#section1,
#section2 {
  height: 1000px;
}

/* ABOUT SECTION */
.about-container {
  height: 500px;
}

/*  */

/* CONTACT SECTION */

/* .contact-container {
  height: 500px;
} */

.contact-form-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* .contact-info {

} */

.contact-icon {
  margin-right: 16px;
  width: 24px;
}

.contact-info2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  max-width: 600px;
}

.contact-image {
  margin-bottom: 60px;
}

.contact-info div {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
}

/* .contact-info2 div {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
} */

.f-name {
  margin-right: 16px;
}

.fl-name {
  display: flex;
  margin: 0;
}

.form-title {
  margin-bottom: 24px;
}

.form-title h1 {
  margin-bottom: 16px;
}

label {
  font-size: 14px;
}

.left-div {
  flex: 1;
}

.left-div img {
  max-width: 300px;
  opacity: 50%;
}

.nav-space {
  height: 110px;
}

.right-div {
  flex: 1;
  display: block;
  text-align: left;
}

#div {
  margin-bottom: 24px;
}

.right-div form div input,
.right-div form div textarea {
  width: 100%;
}

input,
textarea {
  background-color: rgba(255, 255, 255, 0.384);
  border: transparent;
  border-radius: 5px;
  /* height: 32px; */
  margin-top: 4px;
  padding: 8px 12px;
}

textarea {
  min-height: 120px;
}

/* .form-container {
  margin-top: 20px;
}

.form-container form {
  display: grid;
  gap: 10px;
}

.name-inputs {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
  text-align: left;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
} */

@media (max-width: 1000px) {
  .contact-container {
    margin-bottom: 40px;
  }

  .contact-form-container {
    display: block;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .contact-image {
    width: 50%;
  }

  .contact-info {
    padding-bottom: 30px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
  }

  /* .contact-info div {
  } */

  .left-div {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  /* .right-div {
    max-width: 550px;
  } */
}

/*  */

/* FOOTER */

footer {
  padding-bottom: 24px;
}

.footer-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-container img {
  width: 12px;
}

.footer-text {
  font-size: 12px;
  margin-right: 6px;
}
